<div class="w-screen h-screen p-10 flex flex-col items-center justify-center">
  <!-- Grow  -->
  <span class="flex-grow"></span>
  <!-- Cards -->
  <div class="w-full flex space-x-6 items-center justify-center mt-14">
    <div *ngFor="let card of service.player?.cards; let i = index" class="h-80 w-60 relative cursor-pointer">
      <img
        draggable="false"
        [src]="card.source"
        class="h-full w-full absolute inset-0 transform hover:scale-110 hover:-translate-y-5 transition duration-200"
        (click)="playCard(card.id)"
      />
    </div>
  </div>
</div>
