<div class="w-screen h-screen p-10 flex flex-col items-center justify-center">
  <!--Players-->
  <div class="w-full grid grid-rows-1 gap-6">
    <div
      class="rounded-2xl py-1 whitespace-nowrap p-3 w-full bg-opacity-80"
      [ngClass]="{'bg-gray-900': player.state === PlayerStateEnum.Loser, 
                  'opacity-50': player.state === PlayerStateEnum.Loser,
                  'bg-white': player.state === PlayerStateEnum.Ingame, 
                  'text-gray-900': player.state === PlayerStateEnum.Ingame,
                  'bg-green-500': player.state === PlayerStateEnum.Winner,
                  'text-white': player.state !== PlayerStateEnum.Ingame
                }"
      *ngFor="let player of service.session?.players; let i = index"
      [class.bg-green-400]="player?.turn"
    >
      <img class="rounded-full w-24 float-left" src="{{player?.imageUrl}}" />
      <h3 class="text-center text-xl font-medium leading-8 overflow-hidden">{{player?.username}}</h3>
      <h2 class="text-center text-l overflow-hidden">{{player?.chips}} Chips</h2>
      <h2 class="text-center text-l overflow-hidden italic">{{PlayerStateEnum[player?.state]}}</h2>
    </div>
  </div>
  <!-- Grow  -->
  <span class="flex-grow"></span>
  <!-- Count And Last Card  -->
  <h1 id="count" class="font-black" [ngStyle]="{color: getCountColor(service.session?.count)}">{{service.session?.count}}</h1>
  <div *ngIf="lastCard" class="h-32 w-24 relative">
    <img draggable="false" [src]="lastCard.source" class="absolute" style="filter: grayscale(75%)" />
  </div>
  <!-- Grow  -->
  <span class="flex-grow"></span>
  <!-- Cards -->
  <div class="w-3/4 flex space-x-6 items-center justify-center">
    <span *ngFor="let card of service.player?.cards; let i = index" class="h-80 w-60 cursor-pointer">
      <img draggable="false" [src]="card.source" class="transform hover:scale-110 hover:-translate-y-5" (click)="playCard(card.id)" />
    </span>
  </div>
</div>
