<div class="mx-4 text-center text-white">
  <h1 class="font-bold text-6xl mb-4">DownUnder</h1>
  <h2 class="font-bold text-3xl mb-12">a card game</h2>
  <div class="flex">
    <button
      [routerLink]="['/create']"
      class="outline-none focus:outline-none bg-blue-500 rounded-md font-bold text-white text-center px-4 py-3 transition duration-300 ease-in-out hover:bg-blue-600 mr-2 w-1/2"
    >
      Create Session
    </button>
    <button
      [routerLink]="['/join']"
      class="outline-none focus:outline-none bg-green-500 rounded-md font-bold text-white text-center px-4 py-3 transition duration-300 ease-in-out hover:bg-green-600 ml-2 w-1/2"
    >
      Join Game
    </button>
  </div>
</div>
