<div class="shadow-xl bg-gray-100 bg-opacity-90 p-5 max-w-xl rounded-xl">
  <h1 class="font-bold text-3xl mb-4">Join Session</h1>

  <!--Session Code Input-->
  <label for="sessionCodeInput" class="font-bold">Session Code</label>
  <div>
    <input
      autofocus
      [(ngModel)]="sessionId"
      class="h-10 w-full rounded bg-drabya-gray border-gray-500 focus focus:border-blue-600 focus:outline-none active:outline-none active:border-blue-600 appearance-none border p-4 font-light leading-tight focus:shadow-outline"
      type="text"
      placeholder="Session Code"
      maxlength="5"
    />
  </div>
  <!-- Username Input-->
  <label for="usernameInput" class="font-bold">Username</label>
  <div class="mb-4">
    <input
      autofocus
      [(ngModel)]="username"
      class="h-10 w-full rounded bg-drabya-gray border-gray-500 focus focus:border-blue-600 focus:outline-none active:outline-none active:border-blue-600 appearance-none border p-4 font-light leading-tight focus:shadow-outline"
      type="text"
      placeholder="Username"
      maxlength="32"
      id="usernameInput"
    />
  </div>
  <!--Controls-->
  <button
    [routerLink]="['/']"
    class="bg-gray-500 rounded-md font-bold text-white text-center px-4 py-3 transition duration-300 ease-in-out hover:bg-red-600 w-32 mr-1 ml-auto"
  >
    Abort
  </button>
  <button
    (click)="joinSession()"
    class="bg-green-500 rounded-md font-bold text-white text-center px-4 py-3 transition duration-300 ease-in-out hover:bg-green-600 w-32 ml-1 mr-auto"
  >
    Continue
  </button>
</div>
