@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@font-face {
  font-family: "Emmett";
  src: url("./assets/fonts/emmett.ttf") format("truetype");
}

html,
body,
.bg-cover {
  min-height: 100vh;
  height: auto;
  margin: 0;
}

app-game {
  padding: 1.25rem;
  width: 100%;
  height: 100%;
}
